* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px   ;
}

.main {
    text-align: center;
}

.title {
    margin-bottom: 30px;
}

.board {
    height: calc(64px * 8);
    width: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: #0b8ea2;
}

.white {
    background-color: #e18248;
}

.available {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lawngreen;
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
    text-align: center;
}

